<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Blog Website</title>


    <style>
        #child1 {
            position: absolute;
            border-radius: 50%;
            top: 3px;
            right: 1px;
        }

        /* #button {
            width: 150px;
            height: 50px;
            border-radius: 12px;

        }*/

        body {
            padding: 25px;
            background-color: white;
            color: black;
            font-size: 25px;
        }

        .dark-mode {
            background-color: black;
            color: white;
        }











        h1 {
            color: green;
        }

        /* toggle in label designing */
        .toggle {
            position: relative;
            display: inline-block;
            width: 50px;
            /*100*/
            height: 20px;
            /*52*/
            background-color: red;
            border-radius: 30px;
            border: 2px solid gray;
        }

        /* After slide changes */
        .toggle:after {
            content: '';
            position: absolute;
            width: 25px;
            /*50*/
            height: 19px;
            /*50*/
            border-radius: 50%;
            background-color: gray;
            top: 0.5px;
            left: 0.2px;
            transition: all 0.5s;
        }

        /* Toggle text */
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        /* Checkbox checked effect */
        .checkbox:checked+.toggle::after {
            left: 49px;
        }

        /* Checkbox checked toggle label bg color */
        .checkbox:checked+.toggle {
            background-color: green;
        }

        /* Checkbox vanished */
        .checkbox {
            display: none;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1 class="mb-1">
            <%=article.title%>
        </h1>
        <div class="text-muted mb-2">
            <%=article.createdAt.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        <div>
            <%- article.sanitizedHTML %>
        </div>
    </div>

    <div id="child1">

        <input type="checkbox" id="switch" class="checkbox" oninput="myFunction()" />

        <label for="switch" class="toggle">

        </label>

        <!--<button id="button" onclick="myFunction()">Dark Mode</button>-->

    </div>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>

</body>

</html>